<div class="row">
    <div class="col-sm">
        <h1>
            <%- eventData.name -%>
        </h1>
        <img width="250" src=<%- eventData.images[0].url -%> />
    </div>
    <div class="col-sm">
        <a class="btn btn-primary" href=<%- eventData.url -%> > Book now </a>
    </div>
</div>