<form onsubmit="searchFunction()">
  <div class="row align-items-end">
    <div class="col">
      <label class="form-label">Naam</label>
      <input
        type="text"
        class="form-control"
        placeholder="Zoek op naam"
        aria-label="Name"
        id="keyword"
      />
    </div>
    <div class="col">
      <label class="form-label">Locatie</label>
      <input
        type="text"
        class="form-control"
        placeholder="Zoek op locatie"
        aria-label="Location"
        id="city"
      />
    </div>

    <div class="col-1">
      <button type="submit" class="btn btn-primary">Zoeken</button>
    </div>
  </div>
</form>

<script>
  function searchFunction() {
    event.preventDefault();
    var keyword,
      city = "";
    keyword = document.getElementById("keyword").value;
    city = document.getElementById("city").value;
    window.location.replace(
      `http://localhost:5000/?keyword=${keyword}&city=${city}`
    );
    console.log(name);
  }
</script>

<br />
<br />
<br />

<% if(result === 0) { %>
<div class="card" style="margin: 30px auto; max-width: 800px; height: 150px">
  <div
    class="card-body"
    style="text-align: center; justify-content: center; padding-top: 35px"
  >
    <h3 class="card-title">Geen resultaten gevonden</h3>
    <p class="card-text">Pas je zoektermen aan en probeer opnieuw.</p>
  </div>
</div>
<% } else {  %>
  <div>
    <%- include('list.ejs', {events: result}); %>
  </div>
  
  <% } %>
  <!--
  
  -->


