<div class="row align-items-end">
  <div class="col">
    <label class="form-label">Naam</label>
    <input
      type="text"
      class="form-control"
      placeholder="Zoek op naam"
      aria-label="Name"
    />
  </div>
  <div class="col">
    <label class="form-label">Locatie</label>
    <input
      type="text"
      class="form-control"
      placeholder="Zoek op locatie"
      aria-label="Location"
    />
  </div>
  <div class="col">
    <label class="form-label">Zoekveld</label>
    <input
      type="text"
      class="form-control"
      placeholder="Zoek op zoekveld"
      aria-label="Keyword"
    />
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary">Zoeken</button>
  </div>
</div>

<div>
  <% if(result === 0) { %>
    <h2 style="margin: 30px auto; max-width: 385px;">Geen resultaten gevonden</h2>
  <% } %>
</div>