<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <ul>Naam van event</ul>
    <% allEvents.forEach(function(listview) {%>
        <h1>Naam:<%=allEvents.name%></h1><br>
    <%});%>
</body>
</html>